# Node.js dependencies
node_modules/

# Local environment variables
.env


# Production build output
dist/
build/

# System files
.DS_Store
*.log

# IDE settings
.vscode/
.idea/

# Git ignore backup
.gitignore.save

# Optional: Skailor subrepo
skailor-clean/